@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap");
@import "./pick.css";

:root {
  --yellow_one: hsl(39, 89%, 49%);
  --yellow_to: hsl(40, 84%, 53%);
  --rock_one: hsl(349, 71%, 52%);
  --rock_two: hsl(349, 70%, 56%);
  --paper_one: hsl(230, 89%, 62%);
  --paper_two: hsl(230, 89%, 65%);
  --lizard_one: hsl(261, 73%, 60%);
  --lizard_two: hsl(261, 72%, 63%);
  --cyan_one: hsl(189, 59%, 53%);
  --cyan_two: hsl(189, 58%, 57%);
  --Dark_Text: hsl(229, 25%, 31%);
  --Score_Text: hsl(229, 64%, 46%);
  --Header_Outline: hsl(217, 16%, 45%);
  --Radial_one: hsl(214, 47%, 23%);
  --Radial_two: hsl(237, 49%, 15%);
  --White: #fff;
  --Mobile: 375px;
  --Desktop: 1366px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: linear-gradient(to bottom, var(--Radial_one), var(--Radial_two));
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  scroll-behavior: smooth;
}
button {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.box_score {
  width: 100%;
  height: 100%;
  max-height: 120px;
  border-radius: 10px;
  border: 3px solid var(--Header_Outline);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-top: 2rem;
  
}
.box_score .options {
  display: grid;
  place-items: center;
  flex: 1;
}
.box_score .options .type {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--White);
  font-weight: 600;
}
.box_score .score {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.box_score .score .title {
  color: var(--Score_Text);
  font-size: 0.7rem;
  text-transform: uppercase;
}
.box_score .score .count {
  font-size: 4rem;
  font-weight: 700;
  color: var(--Dark_Text);
  animation: 0.5s ease 0.5s both animaOpacity;
}
@keyframes animaOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.images {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  animation: 0.5s ease 0.5s both animaOpacity;
}
.images .triangule {
  background-size: cover;
  width: 250px;
  height: 280px;
}
.images .opt {
  background-color: var(--White);
  width: 100%;
  max-width: 110px;
  height: 100%;
  max-height: 110px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  overflow: hidden;
  cursor: pointer;
}
.opt:hover {
  transition: 0.4s all;
  transform: scale(1.1);
}
.images .opt::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
}
.images .opt::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--White);
  position: absolute;
  top: 5px;
  border-radius: 50%;
  z-index: 1;
}
.images span:nth-child(6) {
  position: absolute;
  z-index: 1;
  left: 5vh;
  bottom: 10vh;
  border: 0.8rem solid var(--lizard_one);
  box-shadow: 0 2px 0 3px var(--lizard_two);
}
.images span:nth-child(5) {
  position: absolute;
  top: 20vh;
  z-index: 1;
  left: 0;
  border: 0.8rem solid var(--cyan_one);
  box-shadow: 0 2px 0 3px var(--cyan_two);
}
.images span:nth-child(4) {
  position: absolute;
  top: 8vh;
  z-index: 1;
  border: 0.8rem solid var(--yellow_to);
  box-shadow: 0 2px 0 3px var(--yellow_one);
}
.images span:nth-child(3) {
  position: absolute;
  top: 20vh;
  z-index: 1;
  right: 0;
  border: 0.8rem solid var(--paper_two);
  box-shadow: 0 2px 0 3px var(--paper_one);
}
.images span:nth-child(2) {
  position: absolute;
  right: 5vh;
  bottom: 10vh;
  z-index: 1;
  border: 0.8rem solid var(--rock_two);
  box-shadow: 0 2px 0 3px var(--rock_one);
}
.images .opt .paper,
.rock,
.scissors,
.spock,
.lizard {
  width: 100%;
  max-width: 40px;
  background-color: var(--White);
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}
.modal__rules {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 3;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--White);
  flex-direction: column;
}
.modal__rules .title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Radial_one);
  opacity: 0.7;
}
.modal__rules .close {
  width: 35px;
  height: 35px;
  color: var(--Header_Outline);
  opacity: 0.5;
  cursor: pointer;
}
.close:hover {
  color: red;
  transition: 0.4s all;
  opacity: 1;
}
.rules {
  background-color: transparent;
  width: 100%;
  max-width: 120px;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  text-transform: uppercase;
  border: 2px solid var(--Header_Outline);
  color: var(--White);
  letter-spacing: 3px;
  cursor: pointer;
}
.rules:hover {
  transition: 0.5s all;
  opacity: 0.6;
}
@media (min-width: 432px) {

  .box_score {
    max-width: 600px;
    margin-bottom: 2rem;
  }
  .box_score .score {
    max-width: 130px;
  }
  .box_score .score .title {
    font-size: 1rem;
  }
  .images {
    position: none;
    max-width: 400px;
  }
  .images .triangule {
    width: 300px;
    height: 300px;
    transform: translateY(-5vh);
  }
  .images span:nth-child(6) {
    bottom: 15vh;
    z-index: 1;
    left: 8vh;
  }
  .images span:nth-child(5) {
    top: 22vh;
    z-index: 1;
    left: 1vh;
  }
  .images span:nth-child(4) {
    top: 5vh;
    z-index: 1;
  }
  .images span:nth-child(3) {
    top: 22vh;
    z-index: 1;
    right: 1vh;
  }
  .images span:nth-child(2) {
    bottom: 15vh;
    z-index: 1;
    right: 8vh;
  }
  .rules {
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .rules {
    margin-left: calc(100vw / 1.2);
    margin-bottom: 10px;
  }
}
